<nb-card>
  <nb-card-header>
    <h3>Pasta de Mídia</h3>
  </nb-card-header>

  <nb-card-body>

    <div class="center">
      <form (ngSubmit)="setFilter()" #form="ngForm">

        <div class="forms-inputs list-filter">

          <label class="input-label">Filtro: </label>
          <nb-select placeholder="Selecione o Filtro" (selectedChange)="changeFilter()" name="filterType"
            [(selected)]="filterSelected">
            <nb-option *ngFor="let filter of filters" [value]="filter">{{filter}}</nb-option>
          </nb-select>

          <input *ngIf="!isFilterByDate()" type="text" nbInput placeholder="Digite um nome" name="filter-group-media"
            #name="ngModel" [(ngModel)]="filter" />

          <input *ngIf="isFilterByDate()" nbInput [inputMask]="dateInputMask" placeholder="Digite uma data"
            name="filter-date" #name="ngModel" [(ngModel)]="filter">

          <button mat-mini-fab color="basic" nbTooltip="Filtrar" class="action-filter">
            <mat-icon>search</mat-icon>
          </button>
        </div>

      </form>
    </div>

    <form (ngSubmit)="toSave()" #form="ngForm">

      <div class="forms-inputs">
        <label class="input-label">Nome*: </label> <input type="text" nbInput placeholder="Nome" name="title"
          #name="ngModel" [(ngModel)]="groupMedia.title" />
      </div>

      <div class="table-label">Mídias*: </div>

      <nb-card *ngIf="!listData()?.length" class="list-empty">
        <nb-card-header *ngIf="isFilter()">
          Não foi encontrada nenhuma Mídia!</nb-card-header>
        <nb-card-body>
          <button *ngIf="!isFilter()" type="button" mat-mini-fab color="primary" nbTooltip="Adicionar Mídia"
            (click)="openMediaModal()" class="action-list-empty">
            <mat-icon>add</mat-icon>
          </button>
        </nb-card-body>
      </nb-card>

      <mat-table mat-tabl *ngIf="listData()?.length" [dataSource]="listData()" class="table-scroll mat-elevation-z8">

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="select-column">
            <nb-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"></nb-checkbox>
          </mat-header-cell>

          <mat-cell *matCellDef="let element" class="select-column">
            <nb-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"
              [checked]="selection.isSelected(element)">
            </nb-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell mat-header-cell *matHeaderCellDef>
            Nome
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element">
            {{ element.title }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="mediaType">
          <mat-header-cell mat-header-cell *matHeaderCellDef>
            Tipo
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element">
            {{ mediaTypeLabel(element.mediaType) }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="size">
          <mat-header-cell mat-header-cell *matHeaderCellDef>
            Tamanho
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element">
            {{ getSize(element.size) }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="order">
          <mat-header-cell mat-header-cell *matHeaderCellDef>
            Ordem
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element">
            {{ element.order }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="transcriptionStatus">
          <mat-header-cell mat-header-cell *matHeaderCellDef>
            Situação Transcrição
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element">
            {{ transcriptionStatusLabel(element.transcriptionStatus) }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="registrationDate">
          <mat-header-cell mat-header-cell *matHeaderCellDef>
            Data Cadastro
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element">
            {{ getFormatedDate(element.registrationDate) }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="user">
          <mat-header-cell mat-header-cell *matHeaderCellDef>
            Usuário
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element">
            {{ element.includeUserId }}
          </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="action-column">
            <button type="button" mat-mini-fab color="primary" nbTooltip="Adicionar" (click)="openMediaModal()"
              class="action-column-header">
              <mat-icon>add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let element" class="action-column">
            <button type="button" mat-icon-button nbTooltip="Visualizar" (click)="openMediaModal(element)">
              <mat-icon>visibility</mat-icon>
            </button>

            <button type="button" mat-icon-button color="warn" nbTooltip="Remover" (click)="onRemove(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        <button mat-mini-fab color="basic" nbTooltip="Filtrar" class="action-filter">
          <mat-icon>save</mat-icon>
        </button>
      </mat-table>

      <div *ngIf="isQuotaExceeded()" class="credit-risk center">
        <span>Limite de Cota para transcrições no mês excedido!</span>
      </div>

      <div class="buttons">
        <button nbButton type="button" status="danger" [disabled]="!selection.hasValue()" (click)="deleteSelection()">Deletar</button>
      </div>

      <div class="buttons center">
        <button nbButton status="basic" type="button" class="left-element" (click)="goBack()">Voltar</button>
        <button nbButton type="submit" status="success" [disabled]="isFormDisabled()">Salvar</button>
      </div>

    </form>

  </nb-card-body>

</nb-card>
